.logo-header {
  font-size: 50px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}

.logo-footer {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-color);
  text-transform: uppercase;
}
